table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.element {
  display: inline-block;
  margin-left: 10px;
}

.mat-elevation-z8 {
  align-items: center;
  display: flex;
}
.mat-elevation-z8 label {
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
}

.Success{
  color: green;
}
.Failed{
  color: red;
}