<div class="float-parent-element">
    <div class="element">
        <mat-form-field appearance="fill">
            <mat-label>Inventory Type</mat-label>
            <select matNativeControl [(ngModel)]="inventoryType">
                <option value="1" selected>Soybean</option>
                <option value="2" selected>Corn</option>
                <option value="3" selected>Wheat</option>
            </select>
        </mat-form-field>
    </div>

    <div class="element">
        <mat-form-field>
            <input matInput type="number" [formControl]="inputKernels" required />
            <mat-placeholder>Enter Kernel Count </mat-placeholder>
        </mat-form-field>
    </div>

    <div class="element">
        <button mat-raised-button color="primary" (click)="CheckKernals(inventoryType, inputKernels.value)">Submit</button>
        <mat-label [ngClass]="isSuccess ? 'Success' : 'Failed'" > {{ message}}</mat-label>
    </div>
</div>

<div class="mat-elevation-z8">
    <label>Inventory Data</label>
    <table mat-table [dataSource]="dataSource?.data?.inventory">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Kernels Column -->
        <ng-container matColumnDef="kernels">
            <th mat-header-cell *matHeaderCellDef> Kernels </th>
            <td mat-cell *matCellDef="let row"> {{row.kernels}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<br>
<div class="mat-elevation-z8">
    <label>Kernels Data</label>
    <table mat-table [dataSource]="dataSource?.data?.requests">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Inventory Column -->
        <ng-container matColumnDef="inventoryId">
            <th mat-header-cell *matHeaderCellDef> Inventory Id </th>
            <td mat-cell *matCellDef="let row"> {{row.inventoryId}} </td>
        </ng-container>

        <!-- Requested Kernels Column -->
        <ng-container matColumnDef="requestedKernels">
            <th mat-header-cell *matHeaderCellDef> Requested Kernels </th>
            <td mat-cell *matCellDef="let row"> {{row.requestedKernels}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsKernels"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsKernels;"></tr>

    </table>
</div>