/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 10px;
    padding: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
